@use './colors' as *;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    background-color: $black-main;
    font-family: "Open Sans", sans-serif;
    color: $white;
    font-size: 1.6rem;
}
.header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90dvh;
    background-image: url('../../dist/img/headerHome.png');
    background-position: 52% 0%;
    border-radius: 0 0 35px 35px;
    z-index: 0;
    overflow: hidden;
    .nav{
        position: relative;
        margin: 3rem 0;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        z-index: 1;
        background-color: #1c1c1c3e;
        border-radius: 44px;
        border: 1px solid #ecc79442;
        // opacity: 0.5;
        &__logo{
            margin-left: 2rem;
            font-size: 1.8rem;
            font-weight: 100;
            color: $white;
            text-decoration: none;
            z-index: 102;
            span{
                color: $gold-light;
                font-weight: 400;
                font-family: "Marcellus";
            }
        }
        &__btn{
            margin-right: 1rem;
            padding: 1rem;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 200;
            color: $white;
            i{
                font-size: 2rem;
            }
        }
        &__links{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 83dvh;
            background-color: $black-light;
            border-radius: 30px;
            outline: 1px solid #ecc79442;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transform: translateX(108%);
			transform-origin: right;
			transition: transform 0.3s;
            overflow: hidden;
            z-index: 100;
            &-active {
				transform: translateX(0%);
				z-index: 90;
			}
            &--link{
                padding: 1.5rem;
                margin: 2rem 0;
                text-decoration: none;
                text-transform: uppercase;
                color: $white;
                font-weight: 700;
            }
        }
    }
    .nav-desktop{
        margin: 3rem 7rem;
        display: none;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        background-color: #1c1c1c3e;
        border-radius: 44px;
        border: 1px solid #ecc79442;
        z-index: 1;
        &__logo{
            margin-left: 4rem;
            text-decoration: none;
            color: $white;
            font-weight: 100;
            font-size: 2.8rem;
            span{
                color: $gold-main;
                font-weight: 400;
                font-family: "Marcellus";
            }
        }
        &__links{
            margin-right: 2.5rem;
            &--link{
                padding: 1.5rem;
                text-transform: uppercase;
                color: $white;
                text-decoration: none;
                font-weight: 700;
                font-size: 1.6rem;
            } 
        }
    }
    &__box{
        position: absolute;
        padding: 0 2rem 6rem;
        top: 20%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &--heading{
            font-size: 4.5rem;
            text-transform: uppercase;
            font-family: "Marcellus", serif;
            font-weight: 400;
        }
        &--cta{
            margin-top: 20rem;
            padding: 1.3rem 4rem;
            border-radius: 40px;
            text-decoration: none;
            background-color: $gold-main;
            font-weight: 700;
            color: $black-main;
            transition: background-color 0.3s;
            &:hover{
                background-color: $gold-light;
            }
            i{
                font-weight: 700;
            }
        }
    }
}

@media (min-width: 430px){
    .header{
        &__box{
            &--heading{
                font-size: 5rem;
            }
            &--cta{
                margin-top: 18rem;
            }
        }
    }
}
@media(min-width: 512px){
    .header{
        &__box{
            padding: 0 3rem 6rem;
        }
    }
}

@media (min-width: 550px){
    .header{
        &__box{
            &--heading{
                font-size: 5.5rem;
            }
            &--cta{
                margin-top: 17rem;
            }
        }
    }
}
@media (min-width: 746px){
    .header{
        &__box{
            &--heading{
                font-size: 6rem;
            }
            &--cta{
                margin-top: 18rem;
            }
        }
    }
}
@media (min-width: 810px){
    .header{
        &__box{
              padding: 0 3rem 6rem;
        }
    }
}
@media (min-width: 830px){
    .header{
        &__box{
              padding: 0 7rem 6rem;
        }
    }
}
@media (min-width: 910px){
    .header{
        &__box{
            &--heading{
                font-size: 6.5rem;
            }
            &--cta{
                margin-top: 20rem;
            }
        }
    }
}
@media (min-width: 1024px){
    .header{
        .nav{
            display: none;
        }
        .nav-desktop{
            display: flex;
        }
        &__box{
            top: 25%;
            &--heading{
                font-size: 7.2rem;
            }
        }
    }
}
@media (min-width: 1250px){
    .header{
        &__box{
            top: 26%;
            padding: 0 8rem 9rem;
            &--heading{
                font-size: 7.5rem;
            }
        }
    }
}
@media (min-width: 1350px){
    .header{
        background-position: center;
        background-size: cover;
           border-radius: 0 0 40px 40px;
        &__box{
            justify-content: start;
            align-items: start;
            padding: 0rem;
            text-align: start;
            &--heading{
                font-size: 8rem;
            }
            &--cta{
                margin-top: 8rem;
                padding: 2.3rem 4.5rem;
                font-size: 2rem;
            }
        }
    }
}
@media (min-width: 1550px){
    .header{
        &__box{
            top: 25%;
            &--heading{
                font-size: 8.5rem;
            }
            &--cta{
                margin-top: 12rem;
            }
        }
    }
}